<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="students" type="java.util.List<es.uji.sape.model.Student>"*/-->
    <!--/*@thymesVar id="canAssign" type="java.util.List<java.lang.String>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Students List</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Students list</h1>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="input-group col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Search..."/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="clear" type="button" style="display: none;"><i class="fas fa-eraser"></i></button>
                        <button class="btn btn-outline-secondary" type="button" onclick="search()"><i class="fas fa-fw fa-search"></i></button>
                    </div>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-responsive-lg" id="students-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-middle">Code</th>
                        <th scope="col" class="align-middle">Name</th>
                        <th scope="col" class="align-middle">Surname</th>
                        <th scope="col" class="align-middle">Itinerary</th>
                        <th scope="col" class="align-middle">Passed Credits</th>
                        <th scope="col" class="align-middle">Average Score</th>
                        <th scope="col" class="align-middle">Pending Subjects</th>
                        <th scope="col" class="align-middle">Internship Start Semester</th>
                        <th scope="col" class="align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${students}">
                        <td class="align-middle" th:text="${student.code}"></td>
                        <td class="align-middle" th:text="${student.name}"></td>
                        <td class="align-middle" th:text="${student.surname}"></td>
                        <td class="align-middle" th:text="${student.itinerary.label}"></td>
                        <td class="align-middle" th:text="${student.passedCredits}"></td>
                        <td class="align-middle" th:text="${student.averageScore}"></td>
                        <td class="align-middle" th:text="${student.pendingSubjects}"></td>
                        <td class="align-middle" th:text="${student.internshipStartSemester.label}"></td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-start">
                                <div class="px-1" th:if="${canAssign.contains(student.code)}">
                                    <a class="btn btn-warning" th:href="@{/preferences/{code}(code=${student.code})}"
                                       role="button" data-toggle="tooltip" data-placement="top" title="Assign offer">
                                        <i class="fas fa-fw fa-list-ol"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmDeletionTitle">Delete confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmDeletionBody">
                        Are you sure you want to delete the Student?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep</button>
                        <button type="button" class="btn btn-danger" onclick="deleteStudent()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/common :: footer"/>

        <script>
            $('#search').on('keyup', function () {
                if ($(this).val() !== "") {
                    $('#clear').show();
                } else {
                    $('#clear').hide();
                }
            });

            $('#clear').click(function () {
                $('#search').val('');
                $(this).hide();
                search()
            });

            function search() {
                const value = $('#search').val().toLowerCase();
                $("#students-table").find("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value.toLowerCase()) > -1);
                });
            }

            let studentName = "";

            $('#confirmDeletion').on('show.bs.modal', function () {
                $('#confirmDeletionBody').html(`Are you sure you want to delete the Student with code <b>${studentName}</b>?`)
            });

            // noinspection JSUnusedLocalSymbols
            function confirmDeleteStudent(name) {
                studentName = name;
                $('#confirmDeletion').modal('show')
            }

            function deleteStudent() {
                if (studentName !== "") {
                    window.location.assign(`/student/delete/${studentName}`);
                } else {
                    $('#confirmDeletion').modal('hide');
                }
            }
        </script>
    </body>
</html>
