<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="internshipOffers" type="java.util.List<es.uji.sape.model.InternshipOffer>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Add preferences</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Offer List</h1>
                <p class="lead">Select the internship offers that you want</p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="input-group col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Search..."/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="clear" type="button" style="display: none;"><i class="fas fa-eraser"></i></button>
                        <button class="btn btn-outline-secondary" type="button" onclick="search()"><i class="fas fa-fw fa-search"></i></button>
                    </div>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-responsive-md" id="offer-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-middle">ID</th>
                        <th scope="col" class="align-middle">Tasks</th>
                        <th scope="col" class="align-middle">Start date</th>
                        <th scope="col" class="align-middle">Contact</th>
                        <th scope="col" class="align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="internshipOffer : ${internshipOffers}">
                        <td class="align-middle" th:text="${internshipOffer.id}"></td>
                        <td class="align-middle" th:text="${internshipOffer.description}"></td>
                        <td class="align-middle" th:text="${internshipOffer.startDate.label}"></td>
                        <td class="align-middle" th:text="${internshipOffer.contactUsername}"></td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-start">
                                <div class="px-1">
                                    <form th:action="@{/preferences/add/{id}(id=${internshipOffer.id})}" method="POST">
                                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Add">
                                            <i class="fas fa-fw fa-plus"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="px-1">
                                    <button type="button" class="btn btn-info"
                                            data-toggle="tooltip" data-placement="top" title="More info...">
                                        <i class="fas fa-fw fa-info-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <th:block th:replace="fragments/common :: footer"/>

        <script>
            $('#search').on('keyup', function () {
                if ($(this).val() !== "") {
                    $('#clear').show();
                } else {
                    $('#clear').hide();
                }
            });

            $('#clear').click(function () {
                $('#search').val('');
                $(this).hide();
                search()
            });

            function search() {
                const value = $('#search').val().toLowerCase();
                $("#offer-table").find("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value.toLowerCase()) > -1);
                });
            }
        </script>
    </body>
</html>
