<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="internshipOffers" type="java.util.List<es.uji.sape.model.InternshipOffer>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Add preferences</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Offer List</h1>
                <p class="lead">Select the internship offers that you want</p>
            </div>
        </div>

        <!-- para que vaya el search tengo que poner el scrip???? -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Filter offers..."/>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-responsive" id="offer-table">
                <thead class="thead-light">
                    <tr>
                        <th class="col">ID</th>
                        <th class="col">Degree</th>
                        <th class="col">Tasks</th>
                        <th class="col">Start date</th>
                        <th class="col">Contact</th>
                        <th class="col"></th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="internshipOffer : ${internshipOffers}">
                        <td class="align-middle" th:text="${internshipOffer.id}"></td>
                        <td class="align-middle" th:text="${internshipOffer.degree}"></td>
                        <td class="align-middle" th:text="${internshipOffer.getDescription}"></td>
                        <td class="align-middle" th:text="${internshipOffer.startDate}"></td>
                        <td class="align-middle" th:text="${internshipOffer.contactUsername}"></td>
                        <td class="btn btn-primary" href="/offer/details" role="button" value="${internshipOffer.id}">More info</td>
                        <td class="btn btn-primary" href="personalList" role="button" value="${internshipOffer.id}">Add</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <th:block th:replace="fragments/common :: footer"/>

        <script>
            $('#search').on('keyup', function () {
                if ($(this).val() !== "") {
                    $('#clear').show();
                } else {
                    $('#clear').hide();
                }
            });

            $('#clear').click(function () {
                $('#search').val('');
                $(this).hide();
                search()
            });

            function search() {
                const value = $('#search').val().toLowerCase();
                $("#students-table").find("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value.toLowerCase()) > -1);
                });
            }
        </script>
    </body>
</html>
