<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="prefs" type="java.util.List<es.uji.sape.model.Preference>"*/-->
    <!--/*@thymesVar id="studentCode" type="java.lang.String"*/-->
    <!--/*@thymesVar id="notAvailablePriorities" type="java.util.List<java.lang.Integer>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Preferences</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Preferences</h1>
                <p class="lead"
                   th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">Your internship preferences</p>
                <p class="lead"
                   th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).BTC}"
                   th:text="'The internship preferences of student '+${studentCode}"></p>
            </div>
        </div>

        <div class="container">
            <p class="lead" th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">You need to choose at least 5 offers</p>
            <br/>
            <table class="table table-hover table-responsive-md" id="business-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-middle">#</th>
                        <th scope="col" class="align-middle">Name</th>
                        <th scope="col" class="align-middle"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pref:${prefs}">
                        <td class="align-middle" th:text="${pref.priority}"></td>
                        <td class="align-middle" th:text="${pref.name}"></td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-center">
                                <div class="px-1" th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">
                                    <button type="button" class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top"
                                            th:title="#{preferences.info}">
                                        <i class="fas fa-fw fa-info"></i>
                                    </button>
                                </div>
                                <div class="px-1" th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">
                                    <button type="button" class="btn btn-danger" th:onclick="'confirmDeletePreference(&quot;'+${pref.priority}+'&quot;)'"
                                            data-toggle="tooltip" data-placement="top" th:title="#{preferences.delete}">
                                        <i class="fas fa-fw fa-trash-alt"></i>
                                    </button>
                                </div>
                                <div class="px-1"
                                     th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).BTC}">
                                    <button type="button" class="btn btn-primary"
                                            th:onclick="${!notAvailablePriorities.contains(pref.priority)} ? 'confirmAssignPreference('+${pref.priority}+',&quot;'+${studentCode}+'&quot;)'"
                                            th:classappend="${notAvailablePriorities.contains(pref.priority)} ? 'disabled'"
                                            data-toggle="tooltip" data-placement="top" th:title="#{preferences.assign}">
                                        <i class="fas fa-fw fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="px-1"
                     th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">
                    <a class="btn btn-primary" href="/preferences/add" role="button" th:text="#{preferences.add}"></a>
                </div>
                <div class="px-1"
                     th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).BTC}">
                    <a class="btn btn-primary" href="/preferences/add" role="button" th:text="#{preferences.selectAlternative}"></a>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionTitle" aria-hidden="true"
             th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmDeletionTitle">Delete confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmDeletionBody">
                        Are you sure you want to delete the Preference?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep</button>
                        <button type="button" class="btn btn-danger" onclick="deletePreference()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmAssignment" tabindex="-1" role="dialog" aria-labelledby="confirmAssignmentTitle" aria-hidden="true"
             th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).BTC}">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmAssignmentTitle">Assign confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmAssignmentBody">
                        Are you sure you want to assign the Preference?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="assignPreference()">Assing</button>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/common :: footer"/>

        <script th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).STUDENT}">
            let preferenceId = -1;

            $('#confirmDeletion').on('show.bs.modal', function () {
                $('#confirmDeletionBody').html(`Are you sure you want to delete the Preference <b>#${preferenceId}</b>?`)
            });

            // noinspection JSUnusedLocalSymbols
            function confirmDeletePreference(id) {
                preferenceId = id;
                $('#confirmDeletion').modal('show')
            }

            function deletePreference() {
                if (preferenceId !== -1) {
                    window.location.assign(`/preferences/delete/${preferenceId}`);
                } else {
                    $('#confirmDeletion').modal('hide');
                }
            }
        </script>

        <script th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).BTC}">
            let preferenceId = -1;
            let studentCode = "";

            $('#confirmAssignment').on('show.bs.modal', function () {
                $('#confirmAssignmentBody').html(`Are you sure you want to assign the Preference <b>#${preferenceId}</b>?`)
            });

            // noinspection JSUnusedLocalSymbols
            function confirmAssignPreference(id, student) {
                preferenceId = id;
                studentCode = student;
                $('#confirmAssignment').modal('show')
            }

            function assignPreference() {
                if (preferenceId !== -1 && studentCode !== "") {
                    window.location.assign(`/preferences/assign/${studentCode}/${preferenceId}`);
                } else {
                    $('#confirmAssignment').modal('hide');
                }
            }
        </script>
    </body>
</html>
