<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="businesses" type="java.util.Lints/common :: hest<es.uji.sape.model.Business>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Your preferences</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Your preferences</h1>
                <p class="lead">Your internship preferences</p>
            </div>
        </div>

        <div class="container">
            <br/>
            <p class="lead">You need to choose at least 5 offers</p>
            <br/>
            <br/>
            <table class="table table-hover table-responsive" id="business-table">
                <thead class="thead-light">
                    <tr>
                        <th class="col">Num</th>
                        <th class="col">Name</th>
                        <th class="col">Details</th>
                        <th class="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="preferences" type="java.util.List<es.uji.sape.model.Preference>"*/-->
                    <tr th:each ="preference:${preferences}">
                        <td class="row" th:text="${preference.priority}"></td>
                        <td class="align-middle" th:text="${preference.name}"></td>
                        <td  class="btn btn-primary" href="/offer/details" role="button" value="{preference.projectOfferId}">Info</td>
                        <td  class="btn btn-secondary" href="/offer/list" role="button">...</td>
                    </tr>

                </tbody>
            </table>
            
            <!-- 	Habria que hacer submit cuando se tuvieran todas las preferencias? Asi controlariamos que eligieran las 5 
            		minimas que se piden -->
            		
        </div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="/preferences/add" role="button">Add new Preference</a>
            </div>
        </div>

        <th:block th:replace="fragments/common :: footer"/>
    </body>
</html>
