<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="internshipOffers" type="java.util.List<es.uji.sape.model.InternshipOffer>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Offer List</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Offer List</h1>
                <p class="lead">List of all the offers</p>
            </div>
        </div>

        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Filter offers..."/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="clear" type="button" style="display: none;"><i class="fas fa-eraser"></i></button>
                        <button class="btn btn-outline-secondary" type="button" onclick="search()"><i class="fas fa-fw fa-search"></i></button>
                    </div>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-responsive" id="offer-table">
                <thead class="thead-light">
                    <tr>
                        <th class="col">ID</th>
                        <th class="col">Degree</th>
                        <th class="col">Tasks</th>
                        <th class="col">Start date</th>
                        <th class="col">Contact</th>
                        <th class="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <!--Hay que añadir en el controlador una funcion que pasandole el valor del id de la oferta en el boton
                        busque los detalles -->
                    <tr>
                        <!--/*@thymesVar id="projectOffer" type="es.uji.sape.model"*/-->
                        <td class="align-middle" th:text="${projectOffer.id}"></td>
                        <td class="align-middle" th:text="${projectOffer.degree}"></td>
                        <td class="align-middle" th:text="${projectOffer.tasks}"></td>
                        <td class="align-middle" th:text="${projectOffer.startDate}"></td>
                        <td class="align-middle" th:text="${projectOffer.contactUsername}"></td>
                        <td class="btn btn-primary" href="details" role="button" value="{projectOffer.id}">...</td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-start">
                                <div class="px-1">
                                    <a class="btn btn-warning" th:href="@{/projectOffer/update/{id}(id=${projectOffer.id})}" role="button"
                                       data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="fas fa-fw fa-edit"></i>
                                    </a>
                                </div>
                                <div class="px-1">
                                    <button type="button" class="btn btn-primary" href="details" role="button" value="{projectOffer.id}">
                                        <i class="fas fa-fw fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <th:block th:replace="fragments/common :: footer"/>

        <script>
            $('#search').on('keyup', function () {
                if ($(this).val() !== "") {
                    $('#clear').show();
                } else {
                    $('#clear').hide();
                }
            });

            $('#clear').click(function () {
                $('#search').val('');
                $(this).hide();
                search()
            });

            function search() {
                const value = $('#search').val().toLowerCase();
                $("#projectOffers-table").find("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value.toLowerCase()) > -1);
                });
            }
        </script>
    </body>
</html>
