<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="businesses" type="java.util.List<es.uji.sape.model.Business>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Offer detail</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Offer details</h1>
                <p class="lead">Offer details</p>
            </div>
        </div>
        <div class="container">
            <table class="table table-borderless">
                <tbody>
                    <tr> <!-- Hay que mostrar los datos SOLO de esa oferta -->
                        <td class="row">Name</td>
                        <td class="align-middle" th:text="${}"></td>
                    </tr>
                    <tr>
                        <td class="row">Tasks</td>
                        <td class="align-middle" th:text="${internshipOffer.description}"></td>
                    </tr>
                    <tr>
                        <td class="row">Start Date</td>
                        <td class="align-middle" th:text="${internshipOffer.startDate}"></td>
                    </tr>
                    <tr>
                        <td class="row">Contact</td>
                        <td class="align-middle" th:text="${internshipOffer.contactUSername}"></td>
                    </tr>
                    <tr>
                        <td class="row">Itinerary</td>
                        <td class="align-middle" th:text="${internshipOffer.internship}"></td>
                    </tr>
                    <tr>
                        <td class="row">Technologies</td>
                        <td class="align-middle" th:text="${internshipOffer.technologies}"></td>
                    </tr>
                    <tr>
                        <td class="row">Objectives</td>
                        <td class="align-middle" th:text="${internshipOffer.objectives}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Todos los botones indistintamente del usuario -->

        <!-- Boton para volver a la lista de ofertas -->
        <!-- Hay que arreglarlo para que si entras desde preferences vuelvas al add y no a la lista normal ya que en la lista
        de preferences iríamos quitando las ofertas que ya tuvieramos como preferencia -->
        <div class="container">
            <a class="btn btn-primary" href="list" role="button">Return</a>
        </div>

        <!-- Borrar oferta -->
        <div class="px-1">
            <button type="button" class="btn btn-danger" th:onclick="'confirmDeleteOffer(&quot;'+${internshipOffer.id}+'&quot;)'"
                    data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="fas fa-fw fa-trash-alt"></i>
            </button>
        </div>
        <div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="confirmDeletionTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmDeletionTitle">Delete confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmDeletionBody">
                        Are you sure you want to delete this offer?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep</button>
                        <button type="button" class="btn btn-danger" onclick="deleteOffer()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Update oferta -->
        <div class="px-1">
            <a class="btn btn-warning" th:href="@{/offer/update/{id}(id=${internshipOffer.id})}" role="button"
               data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="fas fa-fw fa-edit"></i>
            </a>
        </div>

        <!-- Publicar oferta (?????) faltaria un metodo para hacerlo como el delete? porque para update hay pero para esto no -->
        <div class="p-1">
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>

        <!-- Scrip para poder borrar la oferta -->
        <script>
            let offerName = "";

            $('#confirmDeletion').on('show.bs.modal', function () {
                $('#confirmDeletionBody').html(`Are you sure you want to delete the offer with code <b>${offerName}</b>?`)
            });

            // noinspection JSUnusedLocalSymbols
            function confirmDeleteOffer(name) {
                offerName = name;
                $('#confirmDeletion').modal('show')
            }

            function deleteOffer() {
                if (offerName !== "") {
                    window.location.assign(`/offer/delete/${offerName}`);
                } else {
                    $('#confirmDeletion').modal('hide');
                }
            }
        </script>
    </body>
</html>
