<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="offer" type="es.uji.sape.model.ProjectOffer"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Update Offer</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Update offer</h1>
                <p class="lead">Update the information about one of your offers</p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-7 col-lg-6">
                    <form action="#" th:action="@{/projectOffers/update/}" th:object="${offer}" method="POST">
                        <div class="form-group">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" readonly th:field="*{id}"/>
                        </div>
                        <div class="form-group">
                            <label for="objectives">Objectives</label>
                            <input type="text" class="form-control" id="objectives" required th:field="*{objectives}"/>
                        </div>
                        <div class="form-group">
                            <label for="technologies">Technologies</label>
                            <input type="text" class="form-control" id="technologies" th:field="*{technologies}"/>
                        </div>
                        <div class="form-group">
                            <label for="itinerary">Itinerary</label>
                            <input type="text" class="form-control" id="itinerary" required th:field="*{itinerary}"/>
                        </div>
                        <div class="form-group" th:if="${#authentication.principal.user.role == T(es.uji.sape.model.Role).CONTACT}">
                            <label for="state1">State</label>
                            <input type="text" class="form-control" id="state1" readonly th:value="*{state}"/>
                        </div>
                        <div class="form-group" th:unless="${#authentication.principal.user.role == T(es.uji.sape.model.Role).CONTACT}">
                            <label for="state">State</label>
                            <select class="form-control" id="state" name="state">
                                <option th:each="state : ${T(es.uji.sape.model.OfferState).values()}"
                                        th:value="${state.name()}"
                                        th:text="${state.toString()}"
                                        th:selected="${state == offer.state}">
                                </option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="p-2">
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                            <div class="p-1">
                                <div class="d-flex flex-row">
                                    <div class="p-1">
                                        <a class="btn btn-secondary" href="/projectOffers/list" role="button">Cancel</a></div>
                                    <!-- TODO el submit va o chusca???? -->
                                    <div class="p-1">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/common :: footer"/>
    </body>
</html>
