<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="businesses" type="java.util.List<es.uji.sape.model.Business>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Business List</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Business List</h1>
                <p class="lead">List of all the business</p>
            </div>
        </div>

        <!-- para que vaya el search tengo que poner el scrip???? -->

        <div class="container">
            <div class="row justify-content-center">
                <div class="input-group col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Search..."/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" id="clear" type="button" style="display: none;"><i class="fas fa-eraser"></i></button>
                        <button class="btn btn-outline-secondary" type="button" onclick="search()"><i class="fas fa-fw fa-search"></i></button>
                    </div>
                </div>
            </div>
            <br/>
            <br>
            <table class="table table-hover" id="business-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">CIF</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Telephone</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="business : ${businesses}">
                        <td class="align-middle" th:text="${business.cif}"></td>
                        <td class="align-middle" th:text="${business.name}"></td>
                        <td class="align-middle" th:text="${business.address}"></td>
                        <td class="align-middle" th:text="${business.telephone}"></td>
                        <td class="align-middle">
                            <a class="btn btn-warning" th:href="@{/projectOffer/update/{cif}(cif=${projectOffer.cif})}" role="button"
                               data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <th:block th:replace="fragments/common :: footer"/>

        <script>
            $('#search').on('keyup', function () {
                if ($(this).val() !== "") {
                    $('#clear').show();
                } else {
                    $('#clear').hide();
                }
            });

            $('#clear').click(function () {
                $('#search').val('');
                $(this).hide();
                search()
            });

            function search() {
                const value = $('#search').val().toLowerCase();
                $("#business-list").find("tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value.toLowerCase()) > -1);
                });
            }
        </script>
    </body>
</html>
