<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="business" type="es.uji.sape.model.Business"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Update Business</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Update Business</h1>
                <p class="lead">Update the information of your business</p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-7 col-lg-6">
                    <form action="#" th:action="@{/business/update/{cif}(cif=${business.cif})}" th:object="${business}" method="POST">
                        <div class="form-group">
                            <label for="cif">CIF</label>
                            <input type="text" class="form-control" id="cif" readonly th:field="*{cif}"/>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" readonly th:field="*{name}"/>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" readonly th:field="*{address}"/>
                        </div>
                        <div class="form-group">
                            <label for="telephone">Telephone</label>
                            <input type="text" class="form-control" id="telephone" readonly th:field="*{telephone}"/>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="p-2">
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                            <div class="p-1">
                                <div class="d-flex flex-row">
                                    <div class="p-1">
                                        <a class="btn btn-secondary" href="list" role="button">Cancel</a></div>
                                    <!-- TODO el submit va o chusca??? -->
                                    <div class="p-1">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/common :: footer"/>
    </body>
</html>

