<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - About</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">About SAPE</h1>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>What SAPE is?</h1>
                <p class="text-justify">
                    SAPE is an application to help the assignment of the students done by the Bachelor Thesis Coordinator and the Degree Course
                    Coordinator of computer science degree at the UJI university. SAPE also made select the internship preferences easier for the
                    students.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>How is it made?</h1>
                <p class="text-justify">
                    This application has been developed using the following technologies and libraries:
                </p>
                <dl>
                    <dt>Backend</dt>
                    <dd>
                        <ul>
                            <li>Java 9</li>
                            <li>Spring Boot 2</li>
                            <li>Thymeleaf 3</li>
                        </ul>
                    </dd>
                    <dt>Frontend</dt>
                    <dd>
                        <ul>
                            <li>Bootstrap 4.1</li>
                            <li>FontAwesome 5</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>

        <th:block th:replace="fragments/common :: footer"/>
    </body>
</html>
