<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0LGTKb8NPx8fBKaojW3qF+Qo2Yhhs/mBrVHMYjPV8V/o4ZAmZ1cpGI2OeQab16T2" crossorigin="anonymous"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>SAPE - About</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">About SAPE</h1>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>Que es?</h1>
                <p class="text-justify">
                    Vivamus dignissim arcu libero, at lobortis lacus suscipit quis. Suspendisse potenti. Curabitur nibh lacus, hendrerit vitae
                    ultrices volutpat, vehicula eget nibh. Phasellus placerat tincidunt diam, non varius nisi iaculis vel. Praesent non massa ac est
                    semper sodales. Donec commodo, ligula et blandit mattis, sapien libero ornare quam, ac tempor ante.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>Que es?</h1>
                <p class="text-justify">
                    Vivamus dignissim arcu libero, at lobortis lacus suscipit quis. Suspendisse potenti. Curabitur nibh lacus, hendrerit vitae
                    ultrices volutpat, vehicula eget nibh. Phasellus placerat tincidunt diam, non varius nisi iaculis vel. Praesent non massa ac est
                    semper sodales. Donec commodo, ligula et blandit mattis, sapien libero ornare quam, ac tempor ante.
                </p>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="/assets/js/sape.js"></script>
    </body>
</html>
