<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0LGTKb8NPx8fBKaojW3qF+Qo2Yhhs/mBrVHMYjPV8V/o4ZAmZ1cpGI2OeQab16T2" crossorigin="anonymous"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>SAPE</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Bienvenido al SAPE</h1>
                <p class="lead">
                    <span class="font-weight-normal">S</span>istema de apoyo a la gestión de la
                    <span class="font-weight-normal">A</span>signación de
                    <span class="font-weight-normal">P</span>royectos en
                    <span class="font-weight-normal">E</span>mpresas para la realización de estancias en prácticas y
                    trabajo final de grado de Ingeniería en Informática.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="jumbotron">
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                <p class="text-justify">
                    Vestibulum non tellus lectus. Donec pulvinar accumsan fringilla. Sed nec faucibus erat, eget tincidunt lacus. Praesent cursus
                    maximus ligula, et rutrum dolor malesuada in. Quisque quam nunc, bibendum a elementum vitae, maximus vitae ante. Etiam nibh est,
                    imperdiet a nisi at, egestas pellentesque sapien. Vestibulum id turpis et ligula auctor ultrices id sit amet ipsum.
                </p>
                <p class="text-justify">
                    Suspendisse sit amet erat ut lacus mattis vehicula lobortis eget tortor. Sed bibendum eros lectus. Suspendisse potenti. Curabitur
                    posuere, ligula ac lobortis rutrum, nisi ligula eleifend quam, eu tempus nisl enim ut justo. Aenean malesuada quam at libero
                    suscipit dignissim. Sed gravida leo non nulla dictum, a iaculis ex tristique. Suspendisse nec laoreet ligula. Pellentesque
                    euismod, purus at molestie efficitur, libero diam interdum sapien, placerat lobortis augue massa eu mi. Integer tincidunt aliquet
                    nisi nec lacinia. Integer a odio in diam facilisis volutpat. In neque est, tempor ac nulla eget, tristique malesuada sapien. Sed
                    euismod velit elit, eget ultrices lectus malesuada non. Mauris lacinia nec leo et ultrices. Maecenas in arcu posuere, malesuada
                    dolor sit amet, hendrerit velit. Integer vulputate quam id facilisis iaculis.
                </p>
                <p class="text-justify">
                    Donec justo felis, dapibus congue pellentesque sed, pellentesque id purus. Proin cursus arcu id magna molestie sodales. Aliquam a
                    sollicitudin ex, a pharetra massa. Etiam urna magna, egestas sed rhoncus eu, sollicitudin vel est. Morbi semper iaculis nisi sit
                    amet maximus. Vivamus leo justo, fermentum in tellus pretium, finibus volutpat orci. Nunc et ex eget dui hendrerit rutrum
                    scelerisque quis erat.
                </p>
                <p class="text-justify">
                    In pharetra, turpis tempus viverra mattis, ante nulla rutrum orci, et dignissim risus tellus vehicula libero. Sed vel lacinia
                    mauris, at mollis orci. Etiam et ornare odio. Nullam aliquet nisi eu mollis finibus. Vivamus sit amet ipsum magna. Ut in enim
                    pulvinar, euismod nibh in, vehicula dolor. Sed placerat leo leo, ac condimentum lacus pulvinar quis. Ut vitae fermentum sapien,
                    quis ultrices massa. Maecenas purus quam, blandit a lacus ullamcorper, tempor venenatis neque. Nam lobortis lectus ligula, ut
                    mollis ante dignissim id. Integer id eros felis.
                </p>
                <p class="text-justify">
                    Integer vitae mattis justo, eget ullamcorper justo. Sed viverra cursus aliquam. Curabitur ut cursus libero. Suspendisse quis
                    dapibus elit, a dictum ante. Nulla a tristique lacus. Sed bibendum dui quis nulla aliquet fringilla. Class aptent taciti sociosqu
                    ad litora torquent per conubia nostra, per inceptos himenaeos.
                </p>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="/assets/js/sape.js"></script>
    </body>
</html>
