<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="businesses" type="java.util.List<es.uji.sape.model.Business>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Assignment</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Assignment</h1>
                <p class="lead">Assignment</p>
            </div>
        </div>
        <div class="container">
            <table class="table table-borderless">
                <tbody>
                    <tr> <!-- Hay que mostrar el assignment SOLO del estudiante, informacion de la sesion -->
                        <td class="row">Name</td>
                        <td class="align-middle" th:text="${}"></td>
                        <td class="row">Tasks</td>
                        <td class="align-middle" th:text="${internshipOffer.description}"></td>
                        <td class="row">Start Date</td>
                        <td class="align-middle" th:text="${internshipOffer.startDate}"></td>
                        <td class="row">Contact</td>
                        <td class="align-middle" th:text="${internshipOffer.contactUSername}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
        
            <!-- Rechazar el asignment -->
            <div class="px-1">
            <button type="button" class="btn btn-danger" th:onclick="'confirmRejectAssignment(&quot;'+${internshipOffer.id}+'&quot;)'"
                    data-toggle="tooltip" data-placement="top" title="Reject">
                <i class="fas fa-fw fa-trash-alt"></i>
            </button>
        </div>
        <div class="modal fade" id="confirmRejection" tabindex="-1" role="dialog" aria-labelledby="confirmRejectionTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmRejectionTitle">Rejection confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmRejectionBody">
                        Are you sure you want to reject this assignment?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" onclick="rejectOffer()">Reject</button>
                    </div>
                </div>
            </div>
        </div>
            
            <!-- Aceptar el assignment y a partir de ahi mostrarlo simplemente con el boton de return -->
            
        </div>
    </body>
</html>
