<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="assignment" type="es.uji.sape.model.Assignment"*/-->
    <!--/*@thymesVar id="offer" type="es.uji.sape.model.ProjectOffer"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Assignment</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Assignment</h1>
                <p class="lead">Assignment</p>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-7 col-lg-6">
                    <table class="table" th:object="${assignment}">
                        <tbody>
                            <tr>
                                <th class="text-right" scope="row">Nombre</th>
                                <td th:text="${assignment.name}"></td>
                            </tr>
                            <tr>
                                <th class="text-right" scope="row">Objetives</th>
                                <td th:text="${assignment.objectives}"></td>
                            </tr>
                            <tr>
                                <th class="text-right" scope="row">Start Date</th>
                                <td th:text="${assignment.startDate}"></td>
                            </tr>
                            <tr>
                                <th class="text-right" scope="row">Tutor Name</th>
                                <td th:text="${assignment.tutorName}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center">
                        <!-- Rechazar el asignment -->
                        <div class="px-1">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmRejection">Reject</button>
                        </div>
                        <!-- Aceptar el asignment -->
                        <div class="px-1">
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmAcceptance">Accept</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmRejection" tabindex="-1" role="dialog" aria-labelledby="confirmRejectionTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmRejectionTitle">Reject confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmRejectionBody">
                        Are you sure you want to reject this assignment?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <form th:action="@{/assignment/reject}" th:object="${assignment}" method="POST">
                            <button type="button" class="btn btn-danger">Reject</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmAcceptance" tabindex="-1" role="dialog" aria-labelledby="confirmAcceptanceTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="confirmAcceptanceTitle">Accept confirmation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-fw fa-times"></i>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmAcceptanceBody">
                        Are you sure you want to accept this assignment?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <form th:action="@{/assignment/accept}" th:object="${assignment}" method="POST">
                            <button type="button" class="btn btn-success">Accept</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
