<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Assignment</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Assignment</h1>
                <p class="lead">Assignment</p>
            </div>
        </div>

        <!-- Tendriamos que dejar ver tambien que tutor tiene cada estudiante???? -->
        <div class="container">
            <!--/*@thymesVar id="assignment" type="es.uji.sape.model.Assignment"*/-->
            <table class="table table-borderless" th:object="${assignment}">
                <tbody>
                    <tr> <!-- Hay que mostrar el assignment SOLO del estudiante, informacion de la sesion -->
                        <td class="row">Name</td>
                        <td class="align-middle" th:text="${assignment.name}"></td>
                        <td class="row">Objectives</td>
                        <td class="align-middle" th:text="${assignment.objectives}"></td>
                        <td class="row">Start Date</td>
                        <td class="align-middle" th:text="${assignment.startDate}"></td>
                        <td class="row">Tutor name</td>
                        <td class="align-middle" th:text="${assignment.getTutorName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
