<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="businesses" type="java.util.List<es.uji.sape.model.Business>"*/-->
    <head>
        <th:block th:replace="fragments/common :: head"/>
        <title>SAPE - Assignment</title>
    </head>
    <body>
        <th:block th:replace="fragments/common :: navbar"/>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Assignment</h1>
                <p class="lead">Assignment</p>
            </div>
        </div>
        <div class="container">
        	<table class="table table-borderless">
        		 <tbody>
                    <tr> <!-- Hay que mostrar el assignment SOLO del estudiante, informacion de la sesion -->
                  		<td class="row">Name</td>
                        <td class="align-middle" th:text="${}"></td>
                        <td class="row">Tasks</td>
                        <td class="align-middle" th:text="${internshipOffer.tasks}"></td>
                        <td class="row">Start Date</td>
                        <td class="align-middle" th:text="${internshipOffer.startDate}"></td>
                        <td class="row">Contact</td>
                        <td class="align-middle" th:text="${internshipOffer.contactUSername}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
	</body>
</html>
       