<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0LGTKb8NPx8fBKaojW3qF+Qo2Yhhs/mBrVHMYjPV8V/o4ZAmZ1cpGI2OeQab16T2" crossorigin="anonymous"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>SAPE - Add Student</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Add Student</h1>
                <p class="lead">Create a new student to be added to the system</p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-md-7 col-lg-6">
                    <!--/*@thymesVar id="student" type="es.uji.sape.model.Student"*/-->
                    <form action="#" th:action="@{/students/add}" th:object="${student}" method="post">
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" class="form-control" id="code" maxlength="20" required th:field="*{code}"/>
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" maxlength="40" required th:field="*{name}"/>
                        </div>
                        <div class="form-group">
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control" id="surname" maxlength="40" required th:field="*{surname}"/>
                        </div>
                        <div class="form-group">
                            <label for="itinerary">Itinerary</label>
                            <select class="form-control" id="itinerary" name="itinerary">
                                <!--/*@thymesVar id="itinerary" type="es.uji.sape.model.Itinerary"*/-->
                                <option th:each="itinerary : ${T(es.uji.sape.model.Itinerary).values()}" th:value="${itinerary}"
                                        th:text="${itinerary.label}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="passedCredits">Passed Credits</label>
                            <input type="number" class="form-control" id="passedCredits" min="0" required th:field="*{passedCredits}"/>
                        </div>
                        <div class="form-group">
                            <label for="averageScore">Average Score</label>
                            <input type="number" class="form-control" id="averageScore" min="0" max="10" step="0.01" required
                                   th:field="*{averageScore}" aria-describedby="averageScoreHelp"/>
                            <small id="averageScoreHelp" class="form-text text-muted">
                                The average score of a student must be a value between 0 and 10, with a precision of 0.01
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="pendingSubjects">Pending Subjects</label>
                            <input type="number" class="form-control" id="pendingSubjects" min="0" required th:field="*{pendingSubjects}"/>
                        </div>
                        <div class="form-group">
                            <label for="internshipStartSemester">Internship Start Semester</label>
                            <input type="number" class="form-control" id="internshipStartSemester" min="1" max="12" required
                                   th:field="*{internshipStartSemester}"/>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="p-2">
                                <button type="reset" class="btn btn-warning">Reset</button>
                            </div>
                            <div class="p-1">
                                <div class="d-flex flex-row">
                                    <div class="p-1">
                                        <a class="btn btn-secondary" href="/students" role="button">Cancel</a></div>
                                    <div class="p-1">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div th:replace="fragments/footer :: footer"></div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="/js/sape.js"></script>
        <script>
            $(document).ready(function () {
                $("#search").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#swimmers-table").find("tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </body>
</html>