<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/lumen/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0LGTKb8NPx8fBKaojW3qF+Qo2Yhhs/mBrVHMYjPV8V/o4ZAmZ1cpGI2OeQab16T2" crossorigin="anonymous"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

        <title>SAPE - Student List</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Student List</h1>
                <p class="lead">List of all students</p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input class="form-control" id="search" type="text" placeholder="Filter students..."/>
                </div>
            </div>
            <br/>
            <table class="table table-hover table-responsive" id="students-table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="align-middle" style="width: 10%;">Code</th>
                        <th scope="col" class="align-middle" style="width: 15%;">Name</th>
                        <th scope="col" class="align-middle" style="width: 15%;">Surname</th>
                        <th scope="col" class="align-middle" style="width: 20%;">Itinerary</th>
                        <th scope="col" class="align-middle" style="width: 10%;">Passed Credits</th>
                        <th scope="col" class="align-middle" style="width: 10%;">Average Score</th>
                        <th scope="col" class="align-middle" style="width: 6%;">Pending Subjects</th>
                        <th scope="col" class="align-middle" style="width: 6%;">Internship Start Semester</th>
                        <th scope="col" class="align-middle" style="width: 8%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--/*@thymesVar id="students" type="java.util.List<es.uji.sape.model.Student>"*/-->
                    <tr th:each="student : ${students}">
                        <td class="align-middle" th:text="${student.code}"></td>
                        <td class="align-middle" th:text="${student.name}"></td>
                        <td class="align-middle" th:text="${student.surname}"></td>
                        <td class="align-middle" th:text="${student.itinerary.label}"></td>
                        <td class="align-middle" th:text="${student.passedCredits}"></td>
                        <td class="align-middle" th:text="${student.averageScore}"></td>
                        <td class="align-middle" th:text="${student.pendingSubjects}"></td>
                        <td class="align-middle" th:text="${student.internshipStartSemester}"></td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-start">
                                <div class="p-2">
                                    <a class="btn btn-info" th:href="@{/students/update/{code}(code=${student.code})}" role="button">Update</a>
                                </div>
                                <div class="p-2">
                                    <button type="button" class="btn btn-danger" th:onclick="'confirmDeleteStudent(&quot;'+${student.code}+'&quot;)'"
                                            data-toggle="modal" data-target="#confirmDeleteModal" data-backdrop="static">Delete
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary" href="/students/add" role="button">Add new Student</a>
            </div>
        </div>

        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalTitle">Delete confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmDeleteModalBody">
                        Are you sure you want to delete the Student?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep</button>
                        <button type="button" class="btn btn-danger" onclick="deleteStudent()">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="/js/sape.js"></script>
        <script>
            $(document).ready(function () {
                $("#search").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#students-table").find("tbody tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });

            var studentName = "";

            $('#confirmDeleteModal').on('show.bs.modal', function (e) {
                $("#confirmDeleteModalBody").html("Are you sure you want to delete the Student with code <b>" + studentName + "</b>?")
            });

            function confirmDeleteStudent(name) {
                console.log("Trying to delete: " + name);
                studentName = name
            }

            function deleteStudent() {
                if (studentName !== "") {
                    window.location.assign("/students/delete/" + studentName)
                } else {
                    $('#confirmDeleteModal').modal('hide')
                }
            }
        </script>
    </body>
</html>